.banner-container {
  overflow: hidden;
  position: relative;
  width:100%;
}

.banner-container ul { height: 100vh; }

.banner-container li {
  float: left;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 9;
}

.banner-container li a {
  display: block;
  padding: 0;
  margin: 0;
}

.banner-container li span.overlay {
  background-repeat: repeat;
  background-image: url(../../assets/img/bg-overlay.png);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

span.overlay {

}
