.banner-container {
  overflow: hidden;
  position: relative;
  width:100%;
}

.banner-container li {
  float: left;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 9;
}

.titleIMG {
  position: absolute;
  top: 30%;
  left: 20%;
  right: 20%;
  font-size: 36pt;
  color: white;
  text-align: center;
  text-shadow: 1px 0 2px #000000,
  -1px 0 2px #000000,
  0 1px 2px #000000,
  0 -1px 2px #000000,
  2px 0 2px #000000,
  -2px 0 2px #000000,
  0 2px 2px #000000,
  0 -2px 2px #000000;
}

.banner-container li a {
  display: block;
  padding: 0;
  margin: 0;
}

.banner-container li span.overlay {
  background-repeat: repeat;
  background-image: url(../../assets/img/bg-overlay.png);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

span.overlay {

}
