<div class="row">
  <div class="col-md-12">
    <img alt="" src="../../assets/img/iconeMinhaHistoria.svg" style="position: absolute; width: 50px;">
    <h4 style="Display: inline; position: absolute; margin-left: 70px; margin-top: 10px;">Minha História na SKA</h4>
  </div>
</div>

<div class="banner-container" id="ska-interligada">
  <ul style="margin-top: 0; width: 100%">
    <li>
      <a href=""><img alt="" src='{{interligada[0].ds_Imagem}}' style="width: 60vw; height: 800px"></a>
      <span class="titleIMG">{{interligada[0].ds_titulo}}</span>
      <span class="overlay"></span>
    </li>

    <li>
      <a href=""><img alt="" src='{{interligada[1].ds_Imagem}}' style="width: 60vw; height: 800px"></a>
      <span class="titleIMG">{{interligada[1].ds_titulo}}</span>
      <span class="overlay"></span>
    </li>

    <li>
      <a href=""><img alt="" src='{{interligada[2].ds_Imagem}}' style="width: 60vw; height: 800px"></a>
      <span class="titleIMG">{{interligada[2].ds_titulo}}</span>
      <span class="overlay"></span>
    </li>

    <li>
      <a href=""><img alt="" src='{{interligada[3].ds_Imagem}}' style="width: 60vw; height: 800px"></a>
      <span class="titleIMG">{{interligada[3].ds_titulo}}</span>
      <span class="overlay"></span>
    </li>

    <li>
      <a href=""><img alt="" src='{{interligada[4].ds_Imagem}}' style="width: 60vw; height: 800px"></a>
      <span class="titleIMG">{{interligada[4].ds_titulo}}</span>
      <span class="overlay"></span>
    </li>

  </ul>
  <div class="clear"></div>
</div>
