<div class="banner-container">
  <ul style="margin-top: 0; width: 100%">
    <li>
      <a href=""><img alt="" src='{{interligada[0].ds_Imagem}}' style="width: 60vw; height: 800px"></a>
      {{interligada[0].ds_titulo}}
      <span class="overlay"></span>
    </li>

    <li>
      <a href=""><img alt="" src='{{interligada[1].ds_Imagem}}' style="width: 60vw; height: 800px"></a>
      {{interligada[1].ds_titulo}}
      <span class="overlay"></span>
    </li>

    <li>
      <a href=""><img alt="" src='{{interligada[2].ds_Imagem}}' style="width: 60vw; height: 800px"></a>
      {{interligada[2].ds_titulo}}
      <span class="overlay"></span>
    </li>

    <li>
      <a href=""><img alt="" src='{{interligada[3].ds_Imagem}}' style="width: 60vw; height: 800px"></a>
      {{interligada[3].ds_titulo}}
      <span class="overlay"></span>
    </li>

    <li>
      <a href=""><img alt="" src='{{interligada[4].ds_Imagem}}' style="width: 60vw; height: 800px"></a>
      {{interligada[4].ds_titulo}}
      <span class="overlay"></span>
    </li>

  </ul>
  <div class="clear"></div>
</div>
