<div class="banner-container">
  <ul style="margin-top: 0; width: 100%">
    <li>
      <a href="#"><img src="https://1h4hfe10xz8m3g3xkh2wb9lc-wpengine.netdna-ssl.com/blog/files/2015/08/thestocks-imagem.jpg" alt="" style="width: 60vw; height: 800px"></a>
      <span class="overlay"></span>
    </li>
    <li>
      <a href="#"><img src="https://blog.fotolia.com/br/files/2017/09/fotolia_117306153-.jpg" alt="" style="width: 60vw; height: 800px"></a>
      <span class="overlay"></span>
    </li>
    <li>
      <a href="#"><img alt=""
                       src="https://images.pexels.com/photos/1020315/pexels-photo-1020315.jpeg?cs=srgb&dl=arte-artistico-atraente-1020315.jpg&fm=jpg"
                       style="width: 60vw; height: 800px"></a>
      <span class="overlay"></span>
    </li>
    <li>
      <a href="#"><img src="https://s2.glbimg.com/vHXjPlgFp1_feFJqDPPYw-YonyM=/e.glbimg.com/og/ed/f/original/2019/03/19/ourplanet_ld_oscholeyhkpostles.jpg" alt="" style="width: 60vw; height: 800px"></a>
      <span class="overlay"></span>
    </li>

  </ul>
  <div class="clear"></div>
</div>
