#barra-navegacao {
    position: absolute;
    width: 100%;
    height: 10%;
    font-family: arial;
}

.navigation-clean-button .navbar-text .action-button, .navigation-clean-button .navbar-text .action-button:active, .navigation-clean-button .navbar-text .action-button:hover {
  background: rgb(0,0,0,0);
  border-radius: 5vw;
  color: rgb(0,0,0);
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: .5rem 1rem;
  transition: background-color 0.25s;
  font-size: 1.75vh;
}

.navigation-clean-button .navbar-text .action-button:hover {
  background: #67dcd7;
  color: white;
}