<div id="barra-navegacao">
    <nav class="navbar navbar-light navbar-expand-md navbar-color-on-scroll navigation-clean-button" style="background-color: rgba(0,0,0,0); padding: 20px; ">
        <div class="container">
            <a class="navbar-brand">
                <img class="navbar-brand" src="assets/img/LogoTarget.svg" />
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
        <span class="sr-only"> </span>
      </button>

            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto"></ul>
                <span class="border rounded d-xl-flex ml-auto align-items-xl-start navbar-text actions" style="background-color: #ffffff;min-width:100px; padding: 1vh;">
          <a class="btn btn-light action-button" role="button" href="#minha-historia">
            destaques
          </a>
          <a class="btn btn-light action-button" role="button " href="#">utilidades</a>
          <a class="btn btn-light action-button" role="button" href="#aniversarios">aniversariantes</a>
          <a class="btn btn-light action-button" role="button " href="#">colaboradores</a>
          <a class="btn btn-light action-button" role="button" href="#">ska interligada</a>
          <a class="btn btn-light action-button" role="button" href="#">ir para onde parei</a>
        </span>
            </div>
        </div>
    </nav>
</div>