.noticias, .row {
  position: relative;
  margin-left: 0;
  margin-top: 3%;
  font-size: 0.9vw;
  font-family: Tahoma, sans-serif;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cornelio {
  transition: 0.5s;
  border-radius: 20px;
  padding: 15px;
  float: left;
  width: 250px;
  height: 200px;
  margin: 10px;
}

.card:hover {
  transition: transform .8s ease;
  transform: scale(1.1);
}

.col:hover {
  background: linear-gradient(to left, #909420 0%, #dbdc00 100%);
}

.azul:hover {
  background: #7277f7;
}

.verde:hover {
  background: #ffff00;
  color: #ff0400;
  transition: transform .8s ease;
  transform: scale(1.1);
}

#notes {
  text-align: justify;
}

#circulo {
  vertical-align: middle;
}

.centro {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centro-vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
