<!-------------------------------NOTICIAS-------------------------------------------->

<div class="row" style="padding: 30px;">
  <div class="potter">


    <!--AQUI COMEÇA OS NOTICIAS, JUNTAMENTE COM A PREVISÃO DO TEMPO, COTAÇÃO DO DÓLAR E AGENDA DA SKA-->
    <div class="weasley principal news">
      <img src="../../assets/img/carro.jpg" style="width: 100%; height: 65%; border-radius: 10px;">
      <span></span><br><br>
      <span class="weasleydataGrande">19 de dezembro de 2018</span><br>
      <h2 class="weasleytituloGrande">SKA anuncia nova frota de caminhões vindo da Alemanha. Ó o 7x1</h2>
    </div>

    <div class="weasley news">
      <img src="../../assets/img/FOTO.TESTE.JPG" style="width: 100%; height: 60%; border-radius: 10px;">
      <span></span><br>
      <span class="weasleydataPequeno">19 de setembro de 2018</span><br>
      <span class="weasleyTituloPequeno">Múltiplos corpos: Eu entendi a referência</span>
    </div>

    <div class="weasley news">
      <img src="../../assets/img/FOTO.TESTE.JPG" style="width: 100%; height: 60%; border-radius: 10px;">
      <span></span><br>
      <span class="weasleydataPequeno">19 de setembro de 2018</span><br>
      <span class="weasleyTituloPequeno">Múltiplos corpos: Eu entendi a referência</span>
    </div>

    <div class="weasley clima separated">
      <app-tempo></app-tempo>
    </div>

    <div class="weasley news">
      <img src="../../assets/img/FOTO.TESTE.JPG" style="width: 100%; height: 60%; border-radius: 10px;">
      <span></span><br>
      <span class="weasleydataPequeno">19 de setembro de 2018</span><br>
      <span class="weasleyTituloPequeno">Múltiplos corpos: Eu entendi a referênciaMúltiplos</span>
    </div>

    <div class="weasley news">
      <img src="../../assets/img/FOTO.TESTE.JPG" style="width: 100%; height: 60%; border-radius: 10px;">
      <span></span><br>
      <span class="weasleydataPequeno">19 de setembro de 2018</span><br>
      <span class="weasleyTituloPequeno">Múltiplos corpos: Eu entendi a referência</span>
    </div>

    <div class="weasley dolar separated">
      <app-dolar></app-dolar>
    </div>

    <div class="weasley events separated">
      <app-eventos></app-eventos>
      <div
        style="position: relative; overflow: auto; background-color: #f4f2f2; height: 190px; width: 350px; margin-top: 80px; margin-left: 15px; border-radius: 10px; text-align: left; padding-left: 10px; padding-right: 10px; padding-top: 5px;">
        <ul style="font-size: 13px;">
          <li>
            <button
              style="border-radius: 20px; background-color: #008c6b; color: white; font-weight: bold; margin-right: 10px; margin-top: 3px;">
              10/06
            </button>
            <span style="font-weight: bold;">Dia dos Namorados</span>
          </li>

          <li>
            <button
              style="border-radius: 20px; background-color: #008c6b; color: white; font-weight: bold; margin-right: 10px; margin-top: 3px">
              De 13 à 20/06
            </button>
            <span style="font-weight: bold;">Feira Internacional de Elétrica</span>
          </li>

          <li>
            <button
              style="border-radius: 20px; background-color: #008c6b; color: white; font-weight: bold; margin-right: 10px; margin-top: 3px">
              14/06
            </button>
            <span style="font-weight: bold;">Hackaton Unisinos</span>
          </li>

          <li>
            <button
              style="border-radius: 20px; background-color: #008c6b; color: white; font-weight: bold; margin-right: 10px; margin-top: 3px">
              15/06
            </button>
            <span style="font-weight: bold;">Dia do Sei lá o que</span>
          </li>

          <li>
            <button
              style="border-radius: 20px; background-color: #008c6b; color: white; font-weight: bold; margin-right: 10px; margin-top: 3px">
              16/06
            </button>
            <span style="font-weight: bold;">Dia de quem tá vivo</span>
          </li>

          <li>
            <button
              style="border-radius: 20px; background-color: #008c6b; color: white; font-weight: bold; margin-right: 10px; margin-top: 3px">
              17/06
            </button>
            <span style="font-weight: bold;">Dia da Feira que eu não sei o nome</span>
          </li>


        </ul>
      </div>
    </div>

    <div class="weasley news">
      <img src="../../assets/img/FOTO.TESTE.JPG" style="width: 100%; height: 60%; border-radius: 10px;">
      <span></span><br>
      <span class="weasleydataPequeno">19 de setembro de 2018</span><br>
      <span class="weasleyTituloPequeno">Múltiplos corpos: Eu entendi a referência</span>
    </div>

    <div class="weasley news">
      <img src="../../assets/img/FOTO.TESTE.JPG" style="width: 100%; height: 60%; border-radius: 10px;">
      <span></span><br>
      <span class="weasleydataPequeno">19 de setembro de 2018</span><br>
      <span class="weasleyTituloPequeno">Múltiplos corpos: Eu entendi a referência</span>
    </div>

    <div class="weasley news">
      <img src="../../assets/img/FOTO.TESTE.JPG" style="width: 100%; height: 60%; border-radius: 10px;">
      <span></span><br>
      <span class="weasleydataPequeno">19 de setembro de 2018</span><br>
      <span class="weasleyTituloPequeno">Múltiplos corpos: Eu entendi a referência</span>
    </div>

    <div class="weasley news">
      <img src="../../assets/img/FOTO.TESTE.JPG" style="width: 100%; height: 60%; border-radius: 10px;">
      <span></span><br>
      <span class="weasleydataPequeno">19 de setembro de 2018</span><br>
      <span class="weasleyTituloPequeno">Múltiplos corpos: Eu entendi a referência</span>
    </div>

  </div>

  <br/><br/><br/>
</div>

