<!-------------------------------NOTICIAS-------------------------------------------->

<div class="noticias">
  <div class="row" id="notes" style="padding: 60px;">

    <div class="card cornelio">
      <div class="card-image waves-effect waves-block waves-light">
        <img alt="" class="activator" src="../../assets/img/carro.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Carros</span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Carros<i class="material-icons right">close</i></span>
        <p>Os carros são como lanchas, as motos são como jet sky's e os pedestres são como os banhistas.</p>
      </div>
    </div>

    <div class="card cornelio">
      <div class="card-image waves-effect waves-block waves-light">
        <img alt="" class="activator" src="../../assets/img/carro.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Carros<i
          class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal cornelio">
        <span class="card-title grey-text text-darken-4">Carros<i class="material-icons right">close</i></span>
        <p>Os carros são como lanchas, as motos são como jet sky's e os pedestres são como os banhistas.</p>
      </div>
    </div>

    <div class="card cornelio">
      <div class="card-image waves-effect waves-block waves-light">
        <img alt="" class="activator" src="../../assets/img/carro.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Carros<i
          class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Carros<i class="material-icons right">close</i></span>
        <p>Os carros são como lanchas, as motos são como jet sky's e os pedestres são como os banhistas.</p>
      </div>
    </div>

    <div class="card cornelio">
      <div class="card-image waves-effect waves-block waves-light">
        <img alt="" class="activator" src="../../assets/img/carro.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Carros<i
          class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Carros<i class="material-icons right">close</i></span>
        <p>Os carros são como lanchas, as motos são como jet sky's e os pedestres são como os banhistas.</p>
      </div>
    </div>

    <div class="cornelio verde">
      <span style="font-size: 0.8vw">19 de dezembro de 2018</span>
      <h5><b>Múltiplos corpos - Eu entendi a referência </b></h5>
      <p>
        Senhores, Graças a técnica de múltiplos corpos, poderemos ser como o
        Capitão América no primeiro filme dos vingadores com a frase: Eu
        entendi a referência
      </p>
    </div>

    <div class="cornelio verde">
      <span style="font-size: 0.8vw">19 de dezembro de 2018</span>
      <h5><b>Múltiplos corpos - Eu entendi a referência </b></h5>
      <p>
        Senhores, Graças a técnica de múltiplos corpos, poderemos ser como o
        Capitão América no primeiro filme dos vingadores com a frase: Eu
        entendi a referência
      </p>
    </div>

    <div class="cornelio verde">
      <span style="font-size: 0.8vw">19 de dezembro de 2018</span>
      <h5><b>Múltiplos corpos - Eu entendi a referência </b></h5>
      <p>
        Senhores, Graças a técnica de múltiplos corpos, poderemos ser como o
        Capitão América no primeiro filme dos vingadores com a frase: Eu
        entendi a referência
      </p>
    </div>

    <div class="cornelio verde">
      <span style="font-size: 0.8vw">19 de dezembro de 2018</span>
      <h5><b>Múltiplos corpos - Eu entendi a referência </b></h5>
      <p>
        Senhores, Graças a técnica de múltiplos corpos, poderemos ser como o
        Capitão América no primeiro filme dos vingadores com a frase: Eu
        entendi a referência
      </p>
    </div>

    <div class="cornelio verde">
      <span style="font-size: 0.8vw">19 de dezembro de 2018</span>
      <h5><b>Múltiplos corpos - Eu entendi a referência </b></h5>
      <p>
        Senhores, Graças a técnica de múltiplos corpos, poderemos ser como o
        Capitão América no primeiro filme dos vingadores com a frase: Eu
        entendi a referência
      </p>
    </div>

    <div class="cornelio verde">
      <span style="font-size: 0.8vw">19 de dezembro de 2018</span>
      <h5><b>Múltiplos corpos - Eu entendi a referência </b></h5>
      <p>
        Senhores, Graças a técnica de múltiplos corpos, poderemos ser como o
        Capitão América no primeiro filme dos vingadores com a frase: Eu
        entendi a referência
      </p>
    </div>

    <div class="cornelio verde">
      <span style="font-size: 0.8vw">19 de dezembro de 2018</span>
      <h5><b>Múltiplos corpos - Eu entendi a referência </b></h5>
      <p>
        Senhores, Graças a técnica de múltiplos corpos, poderemos ser como o
        Capitão América no primeiro filme dos vingadores com a frase: Eu
        entendi a referência
      </p>
    </div>

    <div class="cornelio verde">
      <span style="font-size: 0.8vw">19 de dezembro de 2018</span>
      <h5><b>Múltiplos corpos - Eu entendi a referência </b></h5>
      <p>
        Senhores, Graças a técnica de múltiplos corpos, poderemos ser como o
        Capitão América no primeiro filme dos vingadores com a frase: Eu
        entendi a referência
      </p>
    </div>

    <div class="cornelio verde">
      <span style="font-size: 0.8vw">19 de dezembro de 2018</span>
      <h5><b>Múltiplos corpos - Eu entendi a referência </b></h5>
      <p>
        Senhores, Graças a técnica de múltiplos corpos, poderemos ser como o
        Capitão América no primeiro filme dos vingadores com a frase: Eu
        entendi a referência
      </p>
    </div>


    <br/><br/><br/>
  </div>
</div>
