.noticias {
  position: relative;
  width: 100%;
  height: 40%;
  margin-left: 0;
  margin-top: 15%;
  font-size: 0.9vw;
  font-family: Tahoma, sans-serif;
}

.col {
  transition: 0.5s;
  border-radius: 20px;
  padding: 15px;
}

.col:hover {
  background: linear-gradient(to left, #019394 0%, #67DCD7 100%)
}

.azul:hover {
  background: #7277f7;
}

.verde:hover {
  background: #3ef745;
}

#notes {
  text-align: justify;
}

#circulo {
  vertical-align: middle;
}

.centro {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centro-vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
