<!-------------------------------NOTICIAS-------------------------------------------->

<div class="row" id="noticias" style="padding: 15px;">
  <a class="potter">


    <!--AQUI COMEÇA OS NOTICIAS, JUNTAMENTE COM A PREVISÃO DO TEMPO, COTAÇÃO DO DÓLAR E AGENDA DA SKA-->
    <a class="weasley principal news" href="{{noticias[0].url}}" style="text-decoration: none; color: black"
       target="_blank">
      <img alt="" src="{{noticias[0].image.src}}"
           style="width: 100%; height: 65%; border-radius: 10px; object-fit: cover">
      <p class="weasleydataGrande" style="margin: 0;">{{noticias[0].created}}</p>
      <h2 class="weasleytituloGrande">{{noticias[0].title}}</h2>
    </a>

    <a class="weasley news" href="{{noticias[1].url}}" style="text-decoration: none; color: black" target="_blank">
      <img alt=""
           src="{{noticias[1].image.src}}" style="width: 100%; height: 60%; border-radius: 10px; object-fit: cover">
      <p class="weasleydataPequeno" style="margin: 0;">{{noticias[1].created}}</p>
      <p class="weasleyTituloPequeno" style="margin: 0;">{{noticias[1].title}}</p>
    </a>

    <a class="weasley news" href="{{noticias[2].url}}" style="text-decoration: none; color: black" target="_blank">
      <img alt=""
           src="{{noticias[2].image.src}}" style="width: 100%; height: 60%; border-radius: 10px; object-fit: cover">
      <p class="weasleydataPequeno" style="margin: 0;">{{noticias[2].created}}</p>
      <p class="weasleyTituloPequeno" style="margin: 0;">{{noticias[2].title}}</p>
    </a>

    <div class="weasley clima separated">
      <app-tempo></app-tempo>
    </div>

    <div class="weasley dolar separated">
      <app-dolar></app-dolar>
    </div>

    <a class="weasley news" href="{{noticias[3].url}}" style="text-decoration: none; color: black" target="_blank">
      <img alt=""
           src="{{noticias[3].image.src}}" style="width: 100%; height: 60%; border-radius: 10px; object-fit: cover">
      <p class="weasleydataPequeno" style="margin: 0;">{{noticias[3].created}}</p>
      <p class="weasleyTituloPequeno" style="margin: 0;">{{noticias[3].title}}</p>
    </a>

    <a class="weasley news" href="{{noticias[4].url}}" style="text-decoration: none; color: black" target="_blank">
      <img alt=""
           src="{{noticias[4].image.src}}" style="width: 100%; height: 60%; border-radius: 10px; object-fit: cover">
      <p class="weasleydataPequeno" style="margin: 0;">{{noticias[4].created}}</p>
      <p class="weasleyTituloPequeno" style="margin: 0;">{{noticias[4].title}}</p>
    </a>

    <div class="weasley events separated">

      <app-eventos></app-eventos>

    </div>

    <a class="weasley news" href="{{noticias[5].url}}" style="text-decoration: none; color: black" target="_blank">
      <img alt=""
           src="{{noticias[5].image.src}}" style="width: 100%; height: 60%; border-radius: 10px; object-fit: cover">
      <p class="weasleydataPequeno" style="margin: 0;">{{noticias[5].created}}</p>
      <p class="weasleyTituloPequeno" style="margin: 0;">{{noticias[5].title}}</p>
    </a>

    <a class="weasley news" href="{{noticias[6].url}}" style="text-decoration: none; color: black" target="_blank">
      <img alt=""
           src="{{noticias[6].image.src}}" style="width: 100%; height: 60%; border-radius: 10px; object-fit: cover">
      <p class="weasleydataPequeno" style="margin: 0;">{{noticias[6].created}}</p>
      <p class="weasleyTituloPequeno" style="margin: 0;">{{noticias[6].title}}</p>
    </a>

    <a class="weasley news" href="{{noticias[7].url}}" style="text-decoration: none; color: black" target="_blank">
      <img alt=""
           src="{{noticias[7].image.src}}" style="width: 100%; height: 60%; border-radius: 10px; object-fit: cover">
      <p class="weasleydataPequeno" style="margin: 0;">{{noticias[7].created}}</p>
      <p class="weasleyTituloPequeno" style="margin: 0;">{{noticias[7].title}}</p>
    </a>

    <a class="weasley news" href="{{noticias[8].url}}" style="text-decoration: none; color: black" target="_blank">
      <img alt=""
           src="{{noticias[8].image.src}}" style="width: 100%; height: 60%; border-radius: 10px; object-fit: cover">
      <p class="weasleydataPequeno" style="margin: 0;">{{noticias[8].created}}</p>
      <p class="weasleyTituloPequeno" style="margin: 0;">{{noticias[8].title}}</p>
    </a>
  </a>
</div>
