<!-------------------------------NOVOS COLABORADORES-------------------------------------------->
<div *ngIf="col" style="background: linear-gradient(to left, #019394 0%, #67DCD7 100%);padding: 30px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="../../assets/img/IconeNovosColaboradores.svg" style="position: absolute; width: 50px;" alt="">
        <h4 style="Display: inline; position: absolute; margin-left: 70px; margin-top: 10px;">Novos Colaboradores</h4>
        <br><br>
        <h1 style="color: white; text-align: center; margin-top: -40px; font-family: 'Segoe UI',serif">Bem-vindo a nossa
          equipe!</h1>
      </div>
    </div>

    <div class="row" style="align-items: center; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; ">

      <div *ngFor="let take of col" class="snapeVisitCard">
        <img class="rounded-circle imgCard"
             alt="{{take.nm_nome}}"
             src="{{take.imagem}}"/>
        <span class="tituloCard">{{take.nm_nome}}</span>
        <br>
        <span class="cargoCard">{{take.ds_cargo}}</span>
        <br>
        <span class="foneCard">51 3591 2900</span>
        <br>
        <span class="emailCard">suporte@ska.com.br</span><br>
        <span class="filialCard">SKA {{take.nm_abreviado}}</span>

      </div>

    </div>
  </div>
</div>
      
