<!-------------------------------NOVOS COLABORADORES-------------------------------------------->
<div style="background: linear-gradient(to left, #019394 0%, #67DCD7 100%);padding: 30px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="../../assets/img/IconeNovosColaboradores.svg" style="position: absolute; width: 50px;" alt="">
        <h4 style="Display: inline; position: absolute; margin-left: 70px; margin-top: 10px;">Novos Colaboradores</h4>
        <br><br>
        <h1 style="color: white; text-align: center; margin-top: -40px; font-family: 'Segoe UI',serif">Bem-vindo a nossa
          equipe!</h1>
      </div>
    </div>

    <div class="row" style="align-items: center; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; ">

      <div *ngFor="let take of col" class="col-md-4" style="text-align: center; color: white; padding: 15px">
        <img class="rounded-circle" style="width:60%;"
             src="https://media.licdn.com/dms/image/C4D0BAQG0qOg5DyzwPw/company-logo_200_200/0?e=2159024400&v=beta&t=J5lU5pdHgiSO49iJGlzNHru3vKnH3KM_wD9XkT8XycA"
             alt=""/>
        <br>
        <h2>{{take.nm_nome}}</h2>
        <p>{{take.ds_aniversario}}</p>

      </div>
    </div>
  </div>
</div>
      
