@font-face{
  font-family: "Segoe-ui-l";
  src: url(../../assets/font/segoeuil.ttf) format("truetype");
  /* src: url(../../minha-historia/font/segoeuil.ttf) format("truetype"); */
}

@font-face {
  font-family: "Melinda";
  src: url("../../assets/font/Melinda.otf");
}

.BemVindo {
  font-size: 60px;
  color: white;
  text-align: center;
  margin-top: -40px;
  font-family: 'Melinda', cursive
}

.NovosColaboradores {
  Display: inline;
  position: absolute;
  margin-left: 70px;
  margin-top: 10px;
  font-size: 25px;
}

.divBack {
  background: linear-gradient(to left, #019394 0%, #67DCD7 100%);
  padding: 30px;
}

@media (max-width: 1280px) and (max-height: 900px) and (min-width: 1000px) {
  .BemVindo {
    font-size: 36px;
  }

  .NovosColaboradores {
    font-size: 20px;
    margin-top: 16px;
  }

  .divBack {
    padding: 20px;
  }
}

@media (max-width: 900px) {
  .BemVindo {
    display: none;
  }

  .NovosColaboradores {
    font-size: 20px;
    margin-top: 16px;
  }

  .divBack {
    padding: 20px;
  }
}

.snapeVisitCard {
  font-family: Segoe-ui-l, sans-serif;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  width: 360px;
  height: 160px;
  float: left;
  border-radius: 20px;
  box-shadow: 0 0 3px white;
}

.imgCard {
  display: inline-block;
  float: right;
  width: 100px;
  height: 100px;
}

.snapeVisitCard:hover {
  transition: transform .8s ease;
  background-color: #fbf9ff;
  color: #000000;
  transform: scale(1.15);
  box-shadow: 0 0 0 black;
}

.tituloCard {
  font-weight: bolder;
  font-size: 14pt;
}

.cargoCard {
  /*font-style: italic;*/
  font-weight: bold;
  font-size: 11pt;
}

.filialCard {
  /*font-style: italic;*/
  font-size: 10pt;
}

.emailCard {
  /*font-style: italic;*/
  float: bottom;
  font-size: 10pt;
}

.foneCard {
  /*font-style: oblique;*/
  font-size: 11pt;
  /* font-weight: bold;*/
}

.centro {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centro-vertical {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
