<!-------------------------------NOVOS COLABORADORES-------------------------------------------->
<div *ngIf="col" class="divBack" id="novos-colaboradores">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="../../assets/img/IconeNovosColaboradores.svg" style="position: absolute; width: 50px;" alt="">
        <h4 class="NovosColaboradores">Novos Colaboradores</h4>
        <br><br>
        <p class="BemVindo">
          Bem-vindo à nossa equipe!</p>
      </div>
    </div>

    <div class="row" style="align-items: center; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; ">

      <div *ngFor="let take of col" class="snapeVisitCard">
        <img class="rounded-circle imgCard"
             alt="{{take.nm_nome}}"
             src="{{take.imagem}}"/>
        <span class="tituloCard">{{take.nm_nome | slice:0:30}}</span>
        <br>
        <span class="cargoCard">{{take.ds_cargo}}</span>
        <br>
        <span class="foneCard">{{take.ds_telefone}}</span>
        <br>
        <span class="emailCard">{{take.ds_email}}</span><br>
        <span class="filialCard">SKA {{take.nm_abreviado}}</span>

      </div>

    </div>
  </div>
</div>
      
