<!-------------------------------DEPOIMENTOS SKA-------------------------------------------->
<div class="depoimentos" id="minha-historia">

  <div class="row semEspaco" style="height:100%; padding:2%; background-color: #E2E2E2">
    <div class="col-sm-7" style="height:100%">
      <div id="minha-historia-esquerda">

        <div class="container">
          <div class="row">
            <div class="col-md-1">
              <img src="../../assets/img/IconeMInhaHistóriaSKA.svg" />
            </div>
            <div class="col-md-6">
              <h3 class="centro">Minha História na SKA</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6" style="min-height:400px;">
              <img class="rounded-circle centro" style="width:100%;"
                src="https://media.licdn.com/dms/image/C4D0BAQG0qOg5DyzwPw/company-logo_200_200/0?e=2159024400&v=beta&t=J5lU5pdHgiSO49iJGlzNHru3vKnH3KM_wD9XkT8XycA" />
            </div>

            <div class="col-sm-5">
              <div class="centro-vertical">
                <h3>Otávio Fabrin Bubans</h3>
                <p style="font-size: 7pt;"><b>Técnico de Lantek</b></p>
                <p style="font-size: 9pt;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores distinctio
                  perspiciatis unde in obcaecati aut molestias deserunt eius id odio culpa, non numquam quis ut porro ad
                  molestiae saepe nulla?
                </p>
                <img src="../../assets/img/Caminho 192.svg">
                <h3><b>1 ano</b></h3>
                <p style="font-size: 9pt;">Entrou em 01/10/2018</p>
              </div>
            </div>

          </div> <!-- -->
        </div>
      </div>
    </div>

    <div class="col-sm-5" style="height:100%">


      <div class="row" style="height: 30%;">
        <div class="col-4">
          <img class="rounded-circle centro" style="width:100%;"
            src="https://media.licdn.com/dms/image/C4D0BAQG0qOg5DyzwPw/company-logo_200_200/0?e=2159024400&v=beta&t=J5lU5pdHgiSO49iJGlzNHru3vKnH3KM_wD9XkT8XycA" />
        </div>
        <div class="col-8">
          <div class="centro-vertical">
            <h4> Otávio Fabrin Bubans</h4>
            <p>Técnico de Lantek<br /> São Leopoldo </p>
          </div>
        </div>
      </div>

      <div class="row" style="">
        <div class="col-4">
          <img class="rounded-circle centro" style="width:100%;"
            src="https://media.licdn.com/dms/image/C4D0BAQG0qOg5DyzwPw/company-logo_200_200/0?e=2159024400&v=beta&t=J5lU5pdHgiSO49iJGlzNHru3vKnH3KM_wD9XkT8XycA" />
        </div>
        <div class="col-8">
          <div class="centro-vertical">
            <h4> Otávio Fabrin Bubans</h4>
            <p>Técnico de Lantek<br /> São Leopoldo </p>
          </div>
        </div>
      </div>


      <div class="row" style="">
        <div class="col-4">
          <img class="rounded-circle centro" style="width:100%;"
            src="https://media.licdn.com/dms/image/C4D0BAQG0qOg5DyzwPw/company-logo_200_200/0?e=2159024400&v=beta&t=J5lU5pdHgiSO49iJGlzNHru3vKnH3KM_wD9XkT8XycA" />
        </div>
        <div class="col-8">
          <div class="centro-vertical">
            <h4> Otávio Fabrin Bubans</h4>
            <p>Técnico de Lantek<br /> São Leopoldo </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
