@font-face{
  font-family: "Segoe-ui-l";
  src: url(../../assets/font/segoeuil.ttf) format("truetype");
  /* src: url(../../minha-historia/font/segoeuil.ttf) format("truetype"); */
}

.row {
  justify-content: center;
}

.titulos {
  margin-left: 50px;
  display: inline;
  position: absolute;
}

#alinhar {
  justify-content: center;
}

.centro {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centro-vertical {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translate(0,-50%);
  transform: translate(0, -50%);
}

.depoimentoAlvus {
  font-size: 11pt;
}

.imgAlvus {
  width: 350px;
  height: 350px;
}

@media (max-width: 900px) {
  .depoimentoAlvus {
    font-size: 6pt;
  }

  .imgAlvus {
    width: 250px;
    height: 250px;
  }
}
