<!-------------------------------DEPOIMENTOS SKA-------------------------------------------->

<div class="geral">
  <div class="depoimentos" id="minha-historia" style="padding:20px; background-color: #e1e1e1; margin-top: -25px;">
    <div class="row">
      <div class="col-md-12">
        <img alt="" src="../../assets/img/IconeMInhaHistóriaSKA.svg" style="position: absolute; width: 50px;">
        <h4 style="Display: inline; position: absolute; margin-left: 60px; margin-top: 10px;">Minha História na SKA</h4>
      </div>
    </div>


    <div class="row semEspaco" style="align-content: center">

      <div class="col-5" style="#0b2e13; height: 320px; margin-top: 50px">
        <div class="row" style="float: left">
          <img class="rounded-circle"
               src="https://media.licdn.com/dms/image/C4D0BAQG0qOg5DyzwPw/company-logo_200_200/0?e=2159024400&v=beta&t=J5lU5pdHgiSO49iJGlzNHru3vKnH3KM_wD9XkT8XycA"
               style="width:250px; height: 250px;  margin-bottom: 30px;"/>
          <div class="col-5" style="display: inline-block; height: 280px;">
            <div class="centro-vertical">
              <span style="font-size: x-large; color: #0ba3ff">Wellington Reis Ferreira</span><br>
              <span style="font-size: 10pt;"><b>Técnico de Lantek</b></span> <br>
              <span style="font-size: 11pt;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores distinctio
                  perspiciatis unde in obcaecati aut molestias deserunt eius id odio culpa, non numquam quis ut porro ad
                  molestiae saepe nulla?
                </span><br>
              <img src="../../assets/img/Caminho 192.svg">
              <h3><span style="font-weight: bold;">1 ano</span></h3>
              <span style="font-size: 9pt;">Entrou em 15/03/2018</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5" style="#0b2e13; height: 320px; margin-top: 50px">
        <div class="row" style="float: left">
          <img class="rounded-circle"
               src="https://media.licdn.com/dms/image/C4D0BAQG0qOg5DyzwPw/company-logo_200_200/0?e=2159024400&v=beta&t=J5lU5pdHgiSO49iJGlzNHru3vKnH3KM_wD9XkT8XycA"
               style="width:250px; height: 250px;  margin-bottom: 30px;"/>
          <div class="col-5" style="display: inline-block; height: 280px;">
            <div class="centro-vertical">
              <span style="font-size: x-large; color: #0ba3ff">Wellington Reis Ferreira</span><br>
              <span style="font-size: 10pt; font-weight: bold;">Técnico de Lantek</span> <br>
              <span style="font-size: 11pt;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores distinctio
                  perspiciatis unde in obcaecati aut molestias deserunt eius id odio culpa, non numquam quis ut porro ad
                  molestiae saepe nulla?
                </span><br>
              <img src="../../assets/img/Caminho 192.svg">
              <h3><span style="font-weight: bold;">1 ano</span></h3>
              <span style="font-size: 9pt;">Entrou em 15/03/2018</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
