<!-- <div class="" style="width: 100%;">

  <div class="row" style="height:100%; background-color: blue">

    <div class="col s7 center-align" style="background-color: red">
      <div class="row">

        <div class="col s6">
          <img class="right-align" style="width:90%;"
            src="https://media.licdn.com/dms/image/C4D0BAQG0qOg5DyzwPw/company-logo_200_200/0?e=2159024400&v=beta&t=J5lU5pdHgiSO49iJGlzNHru3vKnH3KM_wD9XkT8XycA" />
        </div>
        <div class="col s6">
          <div class="">
            <h4> Otávio Fabrin Bubans</h4>
            <p>Técnico de Lantek<br /> São Leopoldo </p>
          </div>
        </div>
      </div>

    </div>

    <div class="col s5" style="height:100%">


      <div class="row" style="background-color: green; margin:0px;">
        <div class="col s3">
          <img class="" style="width:90%;"
            src="https://media.licdn.com/dms/image/C4D0BAQG0qOg5DyzwPw/company-logo_200_200/0?e=2159024400&v=beta&t=J5lU5pdHgiSO49iJGlzNHru3vKnH3KM_wD9XkT8XycA" />
        </div>
        <div class="col s9">
          <div class="">
            <h4> Otávio Fabrin Bubans</h4>
            <p>Técnico de Lantek<br /> São Leopoldo </p>
          </div>
        </div>
      </div>

      <div class="row" style="background-color: blue; margin:0px;">
        <div class="col s3">
          <img class="" style="width:90%;"
            src="https://media.licdn.com/dms/image/C4D0BAQG0qOg5DyzwPw/company-logo_200_200/0?e=2159024400&v=beta&t=J5lU5pdHgiSO49iJGlzNHru3vKnH3KM_wD9XkT8XycA" />
        </div>
        <div class="col s9">
          <div class="">
            <h4> Otávio Fabrin Bubans</h4>
            <p>Técnico de Lantek<br /> São Leopoldo </p>
          </div>
        </div>
      </div>

      <div class="row" style="background-color: pink; margin:0px;">
        <div class="col s3">
          <img class="" style="width:90%;"
            src="https://media.licdn.com/dms/image/C4D0BAQG0qOg5DyzwPw/company-logo_200_200/0?e=2159024400&v=beta&t=J5lU5pdHgiSO49iJGlzNHru3vKnH3KM_wD9XkT8XycA" />
        </div>
        <div class="col s9">
          <div class="">
            <h4> Otávio Fabrin Bubans</h4>
            <p>Técnico de Lantek<br /> São Leopoldo </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-------------------------------DEPOIMENTOS SKA-------------------------------------------->
<div class="depoimentos" id="minha-historia">

  <div class="row" style="height:100%; padding:2%; background-color: #E2E2E2">
    <div class="col col-7" style="height:100%">
      <div id="minha-historia-esquerda">

        <div class="row">
          <div class="col col-1">
              <img src="../../assets/img/Grupo 285.png"/>
          </div>
          <div class="col col-3">
            <h3 class="centro">Minha História</h3>
          </div>
        </div>

        <div class="row">
          <div class="col col-6" style="min-height:400px;">
            <img class="rounded-circle centro" style="width:80%;"
              src="https://media.licdn.com/dms/image/C4D0BAQG0qOg5DyzwPw/company-logo_200_200/0?e=2159024400&v=beta&t=J5lU5pdHgiSO49iJGlzNHru3vKnH3KM_wD9XkT8XycA" />
          </div>

          <div class="col col-6">
            <div class="centro-vertical">
              <h3>Otávio Fabrin Bubans</h3>
              <p style="font-size: 9pt;"><b>Técnico de Lantek</b></p>
              <p style="font-size: 11pt;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores distinctio
                perspiciatis unde in obcaecati aut molestias deserunt eius id odio culpa, non numquam quis ut porro ad
                molestiae saepe nulla?
              </p>
              <img src="../../assets/img/Caminho 192.svg">
              <h3><b>1 ano</b></h3>
              <p style="font-size: 11pt;">Entrou em 01/10/2018</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col col-5" style="background-color:red;  height:100%">


      <div class="row" style="background-color: green;;">
        <div class="col-3">
          <img class="rounded-circle centro" style="width:100%;"
            src="https://media.licdn.com/dms/image/C4D0BAQG0qOg5DyzwPw/company-logo_200_200/0?e=2159024400&v=beta&t=J5lU5pdHgiSO49iJGlzNHru3vKnH3KM_wD9XkT8XycA" />
        </div>
        <div class="col-9">
          <div class="centro-vertical">
            <h4> Otávio Fabrin Bubans</h4>
            <p>Técnico de Lantek<br /> São Leopoldo </p>
          </div>
        </div>
      </div>

      <div class="row" style="background-color: blue;">
        <div class="col-3">
          <img class="rounded-circle centro" style="width:100%;"
            src="https://media.licdn.com/dms/image/C4D0BAQG0qOg5DyzwPw/company-logo_200_200/0?e=2159024400&v=beta&t=J5lU5pdHgiSO49iJGlzNHru3vKnH3KM_wD9XkT8XycA" />
        </div>
        <div class="col-9">
          <div class="centro-vertical">
            <h4> Otávio Fabrin Bubans</h4>
            <p>Técnico de Lantek<br /> São Leopoldo </p>
          </div>
        </div>
      </div>


      <div class="row" style="background-color: pink;">
        <div class="col-3">
          <img class="rounded-circle centro" style="width:100%;"
            src="https://media.licdn.com/dms/image/C4D0BAQG0qOg5DyzwPw/company-logo_200_200/0?e=2159024400&v=beta&t=J5lU5pdHgiSO49iJGlzNHru3vKnH3KM_wD9XkT8XycA" />
        </div>
        <div class="col-9">
          <div class="centro-vertical">
            <h4> Otávio Fabrin Bubans</h4>
            <p>Técnico de Lantek<br /> São Leopoldo </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
