.total {
  padding-left: 80px;
  padding-top: 10px;
  display: block;
  position: relative;
}

.areaImg {
  float: left;
  width: 70px;
}

.texto {
  float: left;
  color: #0871bd;
  font-size: 20pt;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 10px;
}

.eventos {
  display: block;
  border-radius: 10px;
  height: 20%;
  background-color: #00a2ff;
}
