<!-------------------------------ANIVERSARIANTES DA SEMANA-------------------------------------------->
<div class="row semEspaco " style="height:100%; padding:1%; margin-top: -20px; background-color: #00a2ff">

  <div class="col-sm-6" style="height:100%; top: 1px;">
    <div id="minha-historia-esquerda">
      <div class="container">
        <div class="row">
          <div class="col-md-1">
            <img src="../../assets/img/IconeAniversariantesDaSemana.svg"/>
          </div>
          <div class="col-md-6" style="margin-left: 10px">
            <h3 class="centro">Aniversariantes da Semana</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------------------->
  <div class="col-sm-12">
    <div class="row"
         style="align-items: center; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">

      <div *ngFor="let ani of aniver" class="col-2" style="text-align: center;">
        <img class="rounded-circle" src="{{ani.imagem}}"
             style="width:180px; height: 180px"/>
        <h4
          style="margin-top: 15px; color: white; font-size: 14pt;">{{ani.nm_nome}}</h4>
        <p style="font-size: 10pt">{{ani.ds_aniversario}}<br>{{ani.ds_cargo}}<br>{{ani.nm_filial}}</p>
        <br>
      </div>

    </div>
  </div>

</div>
