<div class="sliderr" id="sliderr" style="width: 100%; height: 410px; position: absolute">
  <!-- BACKGROUND IMAGE -->
</div>

<div class="carousel" style="width: 100%; height: 410px;">
  <a class="carousel-item teal white-text center valign-wrapper" href="#two" id="two" style="width: 800px; min-height: 400px;
      background-repeat: no-repeat; background-size: 100% 100%;
      background-image: url('https://pbs.twimg.com/media/DzNUD1qXQAAjUKh.jpg');"></a>
  <a class="carousel-item teal white-text center valign-wrapper" href="#" id="three" style="width: 800px; min-height: 400px;
      background-repeat: no-repeat; background-size: 100% 100%;
      background-image: url('http://3.bp.blogspot.com/-O3mmuaNWU1s/T0u_nqmyAeI/AAAAAAAABK4/Uq4DO1jvuko/s1600/Foto_San_Diego_1270-SKA_2012.jpg');"></a>
  <a class="carousel-item teal white-text center valign-wrapper" href="#" id="four" style="width: 800px; min-height: 400px;
      background-repeat: no-repeat; background-size: 100% 100%;
      background-image: url('http://www.ska.com.br/ska/sites/default/files/imagens/blog/alphacam_2.jpg');"></a>
  <a class="carousel-item teal white-text center valign-wrapper" href="#" id="four" style="width: 800px; min-height: 400px;
      background-repeat: no-repeat; background-size: 100% 100%;
      background-image: url('http://www.ska.com.br/ska/sites/default/files/imagens/blog/alphacam_2.jpg');"></a>
</div>
