/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {

  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

}

.sliderr {
  background-image: url('https://pbs.twimg.com/media/DzNUD1qXQAAjUKh.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*  background-color: #ffffff;*/
  filter: brightness(70%) grayscale(80%) blur(1px);
}

.carousel {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 450px;
}

@media only screen and (max-width: 600px) {
}

.textoCentral {
  margin-top: 30px;
  text-align: center;
  align-self: center;
  align-content: center;
  align-items: center;
  font-size: 20pt;
  font-weight: bolder;
  text-shadow: 2px 2px 2px #000000;
}
