  <div style="padding: 26px; position: absolute">
    <img align="center" src="../../assets/img/MenuDolar.svg" style="width: 110px;">
  </div>
  <div style="vertical-align: 35px; margin-top: -5px; padding-left: 160px; font-size: 14pt; position: absolute">
      <span *ngIf="dolar">
        <p>
          <b>Dólar Turismo</b>
        <br>
          {{dolar[0].ds_moeda}} - Real brasileiro
        </p>

        <p>
        <b>Dólar Comercial</b>
        <br>
          {{dolar[1].ds_moeda}} - Real brasileiro
        </p>
      </span>
  </div>
