<div class="Dolar" id="box2">
  <div style="padding-left: 30px; padding-top: 2%; position: absolute">
    <img align="center" src="../../assets/img/MenuDolar.svg" style="width: 70px;">
  </div>
  <span style="padding-left: 10%; vertical-align: 35px; margin-top: -6px; position: absolute">
      <span *ngIf="dolar">
        <p>
          <b>Dólar Turismo</b>
        <br>
          {{dolar[0].ds_moeda}} - Real brasileiro
        </p>

        <p>
        <b>Dólar Comercial</b>
        <br>
          {{dolar[1].ds_moeda}} - Real brasileiro
        </p>
      </span>
    </span>
</div>
