.menu:hover {
  background-color: rgb(62, 189, 135);
}

.menu {
  background-color: rgb(47, 140, 108);
}

.allcontent {
  width: 100%;
  overflow: hidden;
}

@media screen and (max-device-width: 900px) {

}
