<div style="display: flex;  justify-content: center; align-items: center; margin-top: 15px;">
  <div style="display: inline-flex; margin-right: 20px; left: 18px;">

    <img src="../../assets/img/{{tempo.description}}.{{tempo.currently}}.png"
         alt="" style="height: 100px; margin-right: 15px; ">

  </div>

  <div style="display: inline-block; text-align: left;">
    <div style="display: inline-flex; padding-top: -10px"> <span
      style="float: left; font-size: 40px; color: #0071bd; margin-top: -18px; font-weight: bold">{{tempo.temp}}
      ºC</span>
    </div>

    <div style="display: inline-block; font-size: 13px; font-weight: bolder; color: #0071bb;">
      <span style="padding-left: 10px;">Máx {{tempo.forecast[0].max}}º</span>
      <br>
      <span style="padding-left: 10px">Mín {{tempo.forecast[0].min}}º</span>
    </div>
    <br>
    <span style="font-size: 14px; color: #0071bd; font-weight: bold">{{tempo.description | uppercase}}</span>
    <br>
    <span style="font-weight: bolder; font-size: 12px">EM {{tempo.city_name | uppercase}}</span>
    <br>
    <span style="font-size: 14px; color: #000000; font-weight: bold"><img height="8px"
                                                                          src="../../../assets/img/iconeUmidade.svg"> {{tempo.humidity}}
      % | <img alt="" height="8px" src="../../../assets/img/iconeWind.png"> {{tempo.wind_speedy}}
    </span>
  </div>
</div>

<div class="forecast">

  <div class="forecastDays" style="margin-top: -7px">
    <span style="font-weight: bold; font-size: 14px">{{tempo.forecast[1].weekday | uppercase}}</span><br>
    <img src="../../assets/img/{{tempo.forecast[1].description}}.dia.png"
         alt="" style="height: 40px; margin-top: 5px; margin-right: 10px">
    <div style="display: inline-block; font-size: 14px; font-weight: bold">
      <span>{{tempo.forecast[1].max}}º</span><br>
      <span>{{tempo.forecast[1].min}}º</span>
    </div>
  </div>

  <div class="forecastDays" style="margin-top: -7px">
    <span style="font-weight: bold; font-size: 14px">{{tempo.forecast[2].weekday | uppercase}}</span><br>
    <img src="../../assets/img/{{tempo.forecast[2].description}}.dia.png"
         alt="" style="height: 40px; margin-top: 5px; margin-right: 10px">
    <div style="display: inline-block; font-size: 14px; font-weight: bold">
      <span>{{tempo.forecast[2].max}}º</span><br>
      <span>{{tempo.forecast[2].min}}º</span>
    </div>
  </div>

  <div class="forecastDays" style="margin-top: -7px">
    <span style="font-weight: bold; font-size: 14px">{{tempo.forecast[3].weekday | uppercase}}</span><br>
    <div style="margin-top: -10px">
      <img src="../../assets/img/{{tempo.forecast[3].description}}.dia.png"
           alt="" style="height: 40px; margin-top: 15px; margin-right: 10px">
      <div style="display: inline-block; font-size: 14px; font-weight: bold">
        <span>{{tempo.forecast[3].max}}º</span><br>
        <span>{{tempo.forecast[3].min}}º</span>
      </div>
    </div>
  </div>

</div>
