<div *ngIf="tempo.forecast[0]" style="margin-top: -35px">
  <img src="../../assets/img/11d.png"
       style="height: 100px; margin-top: 40px; margin-right: 30px; alignment-baseline: center">

  <div style="display: inline-block; text-align: left;">
    <span style="font-size: 16pt; color: #0071bd; font-weight: bold">Hoje</span>
    <br>
    <span style="font-size: 14pt; color: #0071bd; font-weight: bold"> Agora - {{tempo.temp}}º </span>
    <br>
    <span style="font-weight: bolder; font-size: 10pt">SAO LEOPOLDO, RS</span>
    <br>
    <span style="font-size: 12pt">Máxima {{tempo.forecast[0].max}}º - Mínima {{tempo.forecast[0].min}}º</span>
  </div>
</div>

<div class="forecast" style="margin-top: 15px">

  <div class="forecastDays" style="margin-top: -5px">
    <span></span><br>
    <span style="font-weight: bold">QUA 24</span><br>
    <img src="../../assets/img/50d.png" style="height: 40px; margin-top: 5px; margin-right: 10px">
    <div style="display: inline-block; font-size: 11pt; font-weight: bold">
      <span>{{tempo.forecast[1].max}}º</span><br>
      <span>{{tempo.forecast[1].min}}º</span>
    </div>
  </div>

  <div class="forecastDays" style="margin-top: -5px">
    <span></span><br>
    <span style="font-weight: bold">QUI 25</span><br>
    <img src="../../assets/img/50d.png" style="height: 40px; margin-top: 5px; margin-right: 10px">
    <div style="display: inline-block; font-size: 11pt; font-weight: bold">
      <span>{{tempo.forecast[2].max}}º</span><br>
      <span>{{tempo.forecast[2].min}}º</span>
    </div>
  </div>

  <div class="forecastDays" style="margin-top: -5px">
    <span></span><br>
    <span style="font-weight: bold">SEX 26</span><br>
    <div style="margin-top: -10px">
      <img src="../../assets/img/50d.png" style="height: 40px; margin-top: 15px; margin-right: 10px">
      <div style="display: inline-block; font-size: 11pt; font-weight: bold">
        <span>{{tempo.forecast[3].max}}º</span><br>
        <span>{{tempo.forecast[3].min}}º</span>
      </div>
    </div>
  </div>

</div>
