<div *ngIf="tempo" style="position: relative; padding-left: 50px">
    <img alt="Icon"
         src="../../../assets/img/{{tempo.weather[0].icon}}.png"
         style="height: 105px; max-width: 120px; padding-top: 15px;">
  </div>

  <div style="position: absolute; padding-left: 190px;">
  <span *ngIf="tempo">
    <p style="font-size: 10pt;">
      {{tempo.name}}
      <br>
    <span style="font-size: 30pt">
      <b><span id="temp"> {{tempo.main.temp + 1 | number: '1.0-0'}}</span>º C</b>
    </span>
      <br>
      <span style="font-size: 10pt">
        Min: <span id="tempMin"> {{tempo.main.temp_min | number: '1.0-0'}}</span>       Máx: <span
        id="tempMax">{{tempo.main.temp_max | number: '1.0-0'}}</span>
      </span>
    </p>
  </span>
  </div>
