<div *ngIf="aniver" class="row" style="background-color: #ffffff">


  <div class="col-md-12" style="margin-top: 20px">
    <img alt="" src="../../assets/img/IconeMInhaHistóriaSKA.svg"
         style="position: absolute; width: 50px;  margin-left: 25px">
    <h4 class="AniversarioSKA">Aniversário de SKA</h4>
    <br><br>
  </div>

  <div class="col-sm-12" style="margin-top: 30px">
    <div class="row"
         style="align-items: center; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; padding: 30px">

      <div *ngFor="let ani of aniver" class="col-2 aniversariantes" style="text-align: center;">
        <img class="rounded-circle imgAlvus" src="{{ani.imagem}}"/>
        <h4 class="nmAlvus">{{ani.nm_nome}}</h4>
        <p class="infosAlvus">{{ani.ds_aniversario}}<br>{{ani.ds_cargo}}<br>{{ani.nm_filial}}</p>
        <br>
      </div>

    </div>
  </div>
</div>
