@font-face {
  font-family: "Segoe-ui-l";
  src: url(../../assets/font/segoeuil.ttf) format("truetype");
  /* src: url(../../minha-historia/font/segoeuil.ttf) format("truetype"); */
}

.titulos {
  margin-left: 10px;
  display: inline;
  position: absolute;
}

#alinhar {
  justify-content: center;
  margin: 40px;
}

.centro {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centro-vertical {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.aniversariantes:hover {
  transition: transform .8s ease;
  transform: scale(1.2);
}

.AniversarioSKA {
  Display: inline;
  position: absolute;
  margin-left: 90px;
  margin-top: 10px;
}

.imgAlvus {
  width: 180px;
  height: 180px
}

.nmAlvus {
  margin-top: 15px;
  font-weight: bolder;
  font-size: 14pt;
}

.infosAlvus {
  font-size: 10pt;
}

@media (max-width: 1280px) and (min-width: 1000px) {
  .AniversarioSKA {
    font-size: 20px;
  }

  .imgAlvus {
    object-fit: cover;
    width: 120px;
    height: 120px;
  }

  .nmAlvus {
    font-size: 10pt;
    font-weight: bolder;
  }

  .infosAlvus {
    font-size: 7pt;
  }
}

@media (max-width: 900px) {
  .AniversarioSKA {
    font-size: 20px;
  }

  .imgAlvus {
    object-fit: cover;
    width: 80px;
    height: 80px;
  }

  .nmAlvus {
    font-size: 9pt;
    font-weight: bolder;
  }

  .infosAlvus {
    font-size: 6pt;
  }
}
